<div  class="page-wrapper">
  <div style="margin-top:30px;">
    <h1>賬號</h1>
  </div>
<div id="account_section">
  <div style="margin-bottom: 10px;"><span class="section-title">基本資料</span></div>
  <mat-form-field>
    <mat-label>使用者</mat-label>
    <input matInput #input [readonly]="true" [value]="'User1'">
  </mat-form-field>
<span style="margin-right: 10px;"></span>
<div></div>
<mat-form-field>
  <mat-label>Email</mat-label>
  <input matInput #input [readonly]="true" [value]="'User1@org.fisc.com'">
</mat-form-field>
<span style="margin-right: 10px;"></span>
<div></div>
<mat-form-field>
  <mat-label>名字</mat-label>
  <input matInput #input [readonly]="true" [value]="'User1'">
</mat-form-field>
<span style="margin-right: 10px;"></span>
<mat-form-field>
  <mat-label>姓</mat-label>
  <input matInput #input [readonly]="true" [value]="'User1'">
</mat-form-field>
<span style="margin-right: 10px;"></span>

</div>
<!-- <mat-divider style="margin-top: 30px;"></mat-divider>
<div style="margin-top: 30px; margin-bottom: 10px;"><span class="section-title">更改密碼</span></div>
<mat-form-field>
  <mat-label>現在密碼</mat-label>
  <input matInput  type="password" [value]=" ">
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>新密碼</mat-label>
  <input matInput  type="password" [value]=" ">
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>確認密碼</mat-label>
  <input matInput  type="password" [value]=" ">
</mat-form-field>
<br>
<button mat-flat-button color="primary">提交</button> -->
</div>
