# 訪問nexus倉庫的位置 (group)只能拉
#registry=http://repo.hitrust.com.tw:8081/repository/npm-group/
registry=https://registry.npmjs.org/

#registry=https://registry.npmjs.org
# 帳密設定
#email=henrylai@hitrust.com.tw
#email=admin@example.org
#always-auth=true
#_auth=aGVucnlsYWk6MXFhekBXU1g=
#_auth=YWRtaW46bWlzMTYzMTMzMDI=
