
<div class="tabs effect-1">
  <!-- tab-title -->
  <input type="radio" id="tab-1" name="tab-effect-1" checked="checked">
  <span>當月未填工時</span>

  <input type="radio" id="tab-2" name="tab-effect-1">
  <span>每日未填工時</span>

  <input type="radio" id="tab-3" name="tab-effect-1">
  <span>專案未審工時 </span>

  <input type="radio" id="tab-4" name="tab-effect-1">
  <span>工時回報</span>

  <input type="radio" id="tab-5" name="tab-effect-1">
  <span>專案投入</span>

  <!-- tab-content -->
  <div class="tab-content">
    <section id="tab-item-1">
      <!-- <div>
        <span>當月彙總(年月, 部門)</span>
      </div> -->
      <app-report-table></app-report-table>
    </section>
    <section id="tab-item-2">
      <h1>Two</h1>
    </section>
    <section id="tab-item-3">
      <h1>Three</h1>
    </section>
    <section id="tab-item-4">
      <h1>Four</h1>
    </section>
    <section id="tab-item-5">
      <h1>Five</h1>
    </section>
  </div>
</div>
