<div class="navbar">
  <a href="/export">level3</a>
  <a href="/export">level3</a>
  <div class="dropdown">
    <button class="dropbtn">level3
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <!-- <div class="header">
        <h2>Mega Menu</h2>
      </div> -->
      <div class="row">
        <div class="column">
          <h3>台幣轉帳</h3>
          <a href="#">level4</a>
          <a href="#">level4</a>
          <a href="#">level4</a>
        </div>
        <div class="column">
          <h3>外幣轉帳</h3>
          <a href="#">轉帳選單</a>
          <a href="#">預約轉帳</a>
          <a href="#">非預約轉帳</a>
        </div>
        <div class="column">
          <h3>轉帳設定</h3>
          <a href="#">常用帳戶</a>
          <a href="#">交易管理</a>
        </div>
      </div>
    </div>
  </div> <!--dropdown-->
  <div class="dropdown">
    <button class="dropbtn" routerLink="/demo">表單審核
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <!-- <div class="header">
        <h3>表單流程選單</h3>
      </div> -->
      <div class="row">
        <div class="column">
          <h3>表單審核</h3>
          <a href="/demo">轉帳選單</a>
          <a href="/demo">預約轉帳</a>
          <a href="/demo">非預約轉帳</a>
        </div>
        <div class="column">
          <h3>外幣轉帳</h3>
          <a href="#">轉帳選單</a>
          <a href="#">預約轉帳</a>
          <a href="#">非預約轉帳</a>
        </div>
        <div class="column">
          <h3>轉帳設定</h3>
          <a href="#">常用帳戶</a>
          <a href="#">交易管理</a>
        </div>
      </div>
    </div>
  </div> <!--dropdown-->
  <div class="dropdown">
    <button class="dropbtn">用戶
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h3 style="margin-top: 5px; margin-bottom: 5px;">用戶專區</h3>
      </div>
      <div class="row">
        <div class="column">
          <h3>帳號設定</h3>
          <a href="#">帳號綁定</a>
          <a href="#">密碼設定</a>
        </div>
        <div class="column">
          <h3>聯絡設定</h3>
          <a href="#">聯絡設定</a>
          <a href="#">個人資料</a>
        </div>
      </div>
    </div>
  </div> <!--dropdown-->
</div>


